.Products-items {
    margin: 1rem 3rem;
    display              : grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap             : 20px;
    grid-auto-rows       : auto;
    text-decoration: none;

}

@media only screen and (max-width: 768px) {
    .Products-items {
        grid-template-columns: repeat(2, 1fr);
    }
}
  
  