.Products-item {
    display       : flex;
    flex-direction: column;
    align-items   : center;
    border        : 5px solid;
    border-color  : #24272B;
    overflow       : hidden;
    border-radius  : 1rem;
    width         : fit-content;
    margin        : 0 auto;
    position       : relative;
    color: white;
}

.Product-img {
    width : 250px;
    height: auto;
}

h2 {
    max-width: 20ch;
}

li{
    list-style: none;
}

.Product-overlay {
    position        : absolute;
    bottom          : 0;
    left            : 0;
    right           : 0;
    z-index         : 1;
    border-radius   : calc(var(--curve) * 1px);
    background-color: var(--surface-color);
    transform       : translateY(100%);
    transition      : .2s ease-in-out;
}


.Product-header {
    position        : relative;
    display         : flex;
    align-items     : center;
    gap             : 2em;
    padding         : 0 0.5rem 0.2rem 1rem;
    border-radius   : calc(var(--curve) * 1px) 0 0 0;
    background-color: #24272B;
    transform       : translateY(-100%);
    transition      : .2s ease-in-out;
}

.card__arc {
    width   : 80px;
    height  : 80px;
    position: absolute;
    bottom  : 100%;
    right   : 0;
    z-index : 1;
}

.card__arc path {
    fill: #24272B;
    d: path("M 40 80 c 22 0 40 -22 40 -40 v 40 Z");
}

.Products-item:hover .Product-header {
    transform: translateY(0);
}

.Product-title{
    margin: 0;
    padding: 1rem 0 0 0;
}